html{
	height: 100%;

}
body{
	height: 100%;
	background-color: #616161;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

header{
	background-color: darkgrey;
	border-radius: 3px;

}
main{
	
	
	border-radius: 3px;
	

}
.portfolio {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.activeproj1, .activeproj2, .activeproj3 {
	border: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 4px;
	padding: 2px;
	margin: 4px;
	width: 50%;
	background-color: lightgrey;
}
footer {
	background-color: black;
	color: white;
	border-radius: 3px;

}